@model HSVS.SinglePostal.WebApp.ViewModels.HospitalPostalSettingsViewModel
<!-- Post Card 1 -->
<div id="postcard1" class="horizontal-tab tab active" data-tab="postcard1">
    <h1>CARD &amp; MESSAGES</h1>

    <!-- VERTICAL TABS -->
    <div class="tabs-vertical">
        <div class="left-toolbar">
            <ul class="tab-vertical-links">
                <li class="active preview-card" id="previewpostcard">
                    <a href="#view">
                        <span class="icon icon-preview"></span>
                        <div class="tool-tip">
                            <span class="arrow_box">
                                Preview Sample Postcard
                            </span>
                        </div>
                    </a>
                </li>
                <li class="edit-card" id="editpostcard">
                    <a href="#edit" data-target="edit">
                        <span class="icon icon-edit"></span>
                        <div class="tool-tip">
                            <span class="arrow_box">
                                Edit Card
                            </span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="preview-actions">
                <li class="flip-card" id="flipcardview">
                    <a href="#flip">
                        <span class="icon icon-flip"></span>
                        <div class="tool-tip">
                            <span class="arrow_box">
                                See Reverse Side
                            </span>
                        </div>
                    </a>

                </li>
            </ul>
        </div>
        <div class="tab-vertical-content">
            <div id="view" class="tab active">
                <div class="flip-wrap">
                    <div class="card front">
                        <div class="c-wrap">
                            <div class="postcard row">
                                <div class="left col-6">
                                    <address class="hospital-details">
                                        <strong>@Model.HospitalLongName</strong>
                                        @Model.Address1, @Model.Address2<br />
                                        @Model.City, @Model.State<br />
                                        <strong>Phone: @Model.Phone</strong>
                                        @Model.Url
                                    </address>

                                    <div class="client-letter">
                                        <p>
                                            <strong>Dear Client Name,</strong>
                                        </p>
                                        <p>Time sure does fly! Do you know that it's been over a year since you've been here for a visit?</p>
                                        <p>As always, we look forward to providing healthcare services that keep pets healthy.Please give us a cll to schedule an appointment.</p>
                                        <p>
                                            <strong>
                                                Sincerely,<br />
                                                @Model.HospitalLongName
                                            </strong>
                                        </p>
                                    </div>
                                </div>
                                <div class="right col-6">
                                    <div class="clearfix text-right">
                                        <div class="mail-box">
                                            <span>
                                                PRESORTED <br />FIRST-CLASS MAIL <br />U.S. POSTAGE PAID <br />PET PORTALS
                                            </span>
                                        </div>
                                    </div>                                   
                                    <p>
                                        @Html.Label(Model.PostalMessage1, Model.PostalMessage1, new { id = "postcardDisplayMessage", maxlength = "320", rows = "4" })
                                        <label id="showMessage1ErrorView" class="hidden" style="color:#ff0000">*Post Card 1 message is required.</label>  
                                    </p>
                                    <p class="spl-reminder">
                                        <span class="icon-reminder"></span>
                                        Special Reminder for: <span class="blacktxt">Pet Name</span>
                                    </p>
                                    <p class="courier-type">
                                        ************************<br />
                                        Client Address<br />
                                        Street Name,<br />
                                        PO Box 159<br />
                                        City, State, Zip code
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="c-wrap">
                            <div class="flip-card-bg">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="pet-details">
                                            <h2>PET NAME!</h2>
                                            <h3>It’s time to make sure your health is on track</h3>
                                        </div>
                                        <address class="hospital-details">
                                            <strong>@Model.HospitalLongName</strong>
                                            @Model.Address1, @Model.Address2 @Model.City, @Model.State<br />
                                            <strong>Phone: @Model.Phone</strong>
                                            @Model.Url
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="edit" class="tab">
                <div class="postcard row">
                    <div class="left col-6">
                        <address class="hospital-details">
                            <strong>@Model.HospitalLongName</strong>
                            @Model.Address1, @Model.Address2<br />
                            @Model.City, @Model.State<br />
                            <strong>Phone: @Model.Phone</strong>
                            @Model.Url
                        </address>
                        <div class="client-letter">
                            <p>
                                <strong>Dear {{Client Name}},</strong>
                            </p>
                            <p>Time sure does fly! Do you know that it's been over a year since you've been here for a visit?</p>
                            <p>As always, we look forward to providing healthcare services that keep pets healthy.Please give us a cll to schedule an appointment.</p>
                            <p>
                                <strong>
                                    Sincerely,<br />
                                    @Model.HospitalLongName
                                </strong>
                            </p>
                        </div>
                    </div>
                    <div class="right col-6">
                        <div class="clearfix text-right">
                            <div class="mail-box">
                                <span>
                                    PRESORTED<br /> FIRST-CLASS MAIL<br />U.S.POSTAGE PAID <br />PET PORTALS
                                </span>
                            </div>
                        </div>
                        <div class="edit-text">
                            <span class="icon-edit-txt"></span>
                            @Html.TextAreaFor(m => m.PostalMessage1, new { @class = "textareaChars", maxlength = "320", rows = "4" })                                                      
                            <div class="text-remain"><span id="chars">320</span> characters remaining</div>                           
                        </div>
                        <label  id = "showMessage1Error"  class="hidden" style = "color:#ff0000">*Post Card 1 message is required.</label>                       
                        @Html.HiddenFor(m => m.PostalMessage1, new { @class = "textareaChars", maxlength = "320", rows = "4" })
                        <p class="spl-reminder">
                            <span class="icon-reminder"></span>
                            Special Reminder for: <span class="blacktxt">Pet Name</span>
                        </p>
                        <p class="courier-type">
                            ************************<br />
                            Client Address<br />
                            Street Name,<br />
                            PO Box 159<br />
                            City, State, Zip code
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>